body {
    margin: 6rem;
}
.canvass {
    display: grid;
    background-image: linear-gradient(to bottom right, #669999, #FFDDA9);
    grid-template-columns: 1fr repeat(3, 2fr) 3fr 1fr;
	grid-template-rows: 1fr repeat(2, 3fr) 1fr;
    gap: 2em;
}

.nav-stretch {
    grid-column: 1 / span 6;
	grid-row: 1 / 2;
    background-color: beige;
}
.ls-stretch {
    grid-column: 1 / 2;
	grid-row: 2 / span 2;
    background-color: beige;
}
.first {
    grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.second {
    grid-column: 3 / 4;
	grid-row: 2 / 3;
}
.third {
    grid-column: 4 / 5;
	grid-row: 2 / 3;
}
.fourth {
    grid-column: 2 / 3;
	grid-row: 3 / 4;
}
.fifth {
    grid-column: 3 / 4;
	grid-row: 3 / 4;
}
.sixth {
    grid-column: 4 / 5;
	grid-row: 3 / 4;
}
.text {
    grid-column: 5 / 6;
	grid-row: 2 / 4;
}
.rs-stretch {
    grid-column: 6 / 7;
	grid-row: 2 / 4;
    background-color: beige;
}

.bt-stretch {
    grid-column: 1 / span 6;
	grid-row: 4 / 5;
    background-color: beige;
}

.canvass img {
    max-width: 100%;
}

h3 {
    background-color: teal;
    color: black;
    border-radius: 5px;
}

/*This h4 tag is just to show conflict and resolving(Main)*/
h4 {
    font-family: sans-serif, fantasy;
    background-color: seashell;
    color: blue;
}
